<RadzenStack Orientation="Orientation.Vertical" Gap="0" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
    <RadzenText Style="margin:0;">Powered by <span style="font-family:'K2D',sans-serif;">Herta</span></RadzenText>
    @* <RadzenText>Copyright © 2024 Herta</RadzenText> *@
</RadzenStack>