:root {
    --theme-light: #f6f6fc;
    /*--theme-dark: #000000;*/
    
    --white: #fafafd;
    --black:  #45444a;
    
    --primary: #d4d1f0;
    --secondary: #edf0d1;
    
    --success: #d1f0d4;
    /*--danger: #f6e6e4;*/
    --danger: #f0d4d1;
    
    --base-font-family: "Urbanist", sans-serif;
    --base-font-color: var(--black);
    --base-font-weight: 500;
    --base-font-size: 16px;
    
    --bs-font-sans-serif: var(--base-font-family);
    --bs-body-color: var(--base-font-color);
    --bs-body-font-weight: var(--base-font-weight);
    --bs-body-font-size: var(--base-font-size);
    
    --rz-text-font-family: var(--bs-font-sans-serif);
    
    --rz-text-title-color: var(--black);
    --rz-text-h1-font-weight: var(--bs-body-font-weight);

    --rz-primary: var(--primary);
    --rz-on-primary: var(--black);
    --rz-primary-light: #effaf5;
    
    --rz-secondary: var(--secondary);
    --rz-on-secondary: var(--black);
    
    --rz-layout-background-color: var(--theme-light);
    --rz-layout-body-background-color: var(--rz-base-100);
    
    --rz-header-background-color: var(--theme-light);
    --rz-profile-menu-top-item-background-color: var(--theme-light);
    --rz-profile-menu-toggle-button-color: var(--black);
    --rz-sidebar-toggle-hover-background-color: #ebe9f8;
    --rz-sidebar-toggle-hover-color: var(--black);
    
    --rz-footer-background-color: initial;
    
    --rz-form-field-label-focus-color: var(--black);
    
    --rz-input-hover-border: 1px solid #d1cfdd;
}

html {
    font-style: normal;
}

.rz-layout:has(.rz-body[not-authorized]) {
    position: relative;
}

.rz-body[not-authorized] {
    background-color: transparent !important;
    z-index: 3;
    transform: translateY(4rem);
}

.rz-body[not-authorized]:has(.rz-card[name="Login"]) {
    margin: auto;
    transform: translateY(-4rem);
}

.rz-stack[name="SignInProviders"] img {
    width: 2.5rem;
    height: 2.5rem;
}

.rz-stack[name="SignInProviders"] .rz-button-text {
    min-width: 100px;
    height: 2.5rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    text-transform: initial;
    text-align: left;
}

#remember-me .rz-chkbox-box.checked {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

#remember-me .rz-chkbox-box.checked span:before {
    content: "check";
    font-family: 'Material Icons', serif;
    color: var(--black);
}

#login-validation {
    width: fit-content;
    margin: 1rem auto auto;
    color: var(--danger);
}

.rz-layout:has(.rz-header) {
    position: relative;
}

.rz-layout:has(.rz-header) .rz-body {
    padding: 0;
}

@media (max-width: 768px) {

    #sw-js-blob-svg1 {
        width: 100%;
        height: 100%;
        transform: scale(2.5) translate(-3px, -56px) rotate(-2deg);
    }

    #sw-js-blob-svg2 {
        width: 100%;
        height: 100%;
        transform: scale(2.5) translate(78px, 90px) rotate(8deg);
    }

    #sw-js-blob-svg3 {
        width: 100%;
        height: 100%;
        transform: scale(2.5) translate(-39px, -10px) rotate(12deg);
    }

    .rz-body[not-authorized] {
        transform: unset !important;
    }
    
    .rz-body[not-authorized]:not(:has(> .rz-card[name="Login"])) .rz-text-h1 {
        margin-bottom: 4rem !important;
    }

    .rz-layout:has(.rz-header) .rz-body {
        transition: opacity 0.1s linear;
    }
    
    .rz-layout .rz-sidebar {
        position: absolute;
        top: 0 !important;
        bottom: 0 !important;
        width: 100vw !important;
        height: fit-content;
        opacity: 1 !important;
    }
    
    .rz-layout .rz-sidebar-expanded {
        transform: translate(0, 0) !important;
    }

    .rz-layout .rz-sidebar-collapsed {
        transform: translate(0, -100%) !important;
    }
    
    .rz-layout:has(.rz-sidebar-expanded) .rz-body {
        opacity: 0.5;
    }

    .rz-datepicker.rz-popup {
        left: 0 !important;
        right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
}